* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.s1 {
    color: #FFF;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
}

.s2 {
    color: #151616;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    font-size: 10pt;
}

.s3 {
    color: #FFF;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
}

.p,
p {
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
    margin: 0pt;
}

.s4 {
    color: #151616;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s5 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

h1 {
    color: #F27E00;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
}

.s6 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8.5pt;
}

.s7 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7.5pt;
}

.s8 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s9 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s10 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9.5pt;
}

.s11 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8.5pt;
}

.s12 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7.5pt;
}

.s13 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 5pt;
}

.s14 {
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
}

.s15 {
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s16 {
    color: #F27E00;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 18pt;
}

.s17 {
    color: #F27E00;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16pt;
}

.s18 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s19 {
    color: #151616;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

.s20 {
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

h3 {
    color: #F27E00;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

h4 {
    color: #F27E00;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s21 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

.s22 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s23 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

.s24 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 6.5pt;
}

.s25 {
    color: #F27E00;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 13.5pt;
}

.s26 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
}

.s27 {
    color: #151616;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 6pt;
}

.s29 {
    color: #686867;
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

.s30 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s31 {
    color: #151616;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s32 {
    color: #151616;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s33 {
    color: #151616;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s34 {
    color: #151616;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
}

.s35 {
    color: #FFF;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s36 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s37 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10.5pt;
}

.s38 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
    vertical-align: 1pt;
}

.s39 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
    vertical-align: -2pt;
}

.h2 {
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16.5pt;
}

.s40 {
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16.5pt;
}

.a,
a {
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16.5pt;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
    counter-reset: c1 1;
}

#l1>li>*:first-child:before {
    counter-increment: c1;
    content: counter(c1, decimal)". ";
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

#l1>li:first-child>*:first-child:before {
    counter-increment: c1 0;
}

li {
    display: block;
}

#l2 {
    padding-left: 0pt;
    counter-reset: d1 1;
}

#l2>li>*:first-child:before {
    counter-increment: d1;
    content: counter(d1, decimal)". ";
    color: #151616;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

#l2>li:first-child>*:first-child:before {
    counter-increment: d1 0;
}

li {
    display: block;
}

#l3 {
    padding-left: 0pt;
}

#l3>li>*:first-child:before {
    content: "• ";
    color: #DD2B1C;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

#l4 {
    padding-left: 0pt;
}

#l4>li>*:first-child:before {
    content: "• ";
    color: black;
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

table,
tbody {
    vertical-align: top;
    overflow: visible;
}